@import "variables";
@import "mixins";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

mat-tab-group{
  max-width: 80%;
  margin: 2em auto;
}

.mat-tab-body{
  padding:10px;
}
.fill {
  flex: 1 1 auto;
}

