@import "../../node_modules/@angular/material/theming";
@include mat-core();

$night-app-primary: mat-palette($mat-grey, 900);
$night-app-accent: mat-palette($mat-orange, A200, A100, A400);
$night-app-warn: mat-palette($mat-red);

$night-app-theme: mat-dark-theme(
  $night-app-primary,
  $night-app-accent,
  $night-app-warn
);

@include angular-material-theme($night-app-theme);
